/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* img {
  width: 100px;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
  padding: 0;
  margin: 0 5%;
  width: 90%;
}

h1 {
  line-height: 4rem;
  font-size: 2.9rem;
  letter-spacing: 0.1rem;
}

h2 {}

h3 {}

p {
  margin: 0;
  font-size: 1.2rem;
}



/* ---- layout ---- */

header button {
  color: white;
  background: #8e44ad;
  padding: 2rem;
  font-size: 1.2rem;
  margin: 1rem auto;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
}